<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxuxiaoba.video.mapper.CourseMapper">
    <insert id="insert" parameterType="com.chengxuxiaoba.video.model.po.Course">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Course(name, description, images,status)
        VALUES(#{name},#{description},#{images},#{status})
    </insert>

    <select id="getAllCourseList" resultType="com.chengxuxiaoba.video.model.po.Course">
        SELECT * from Course
    </select>

    <select id="getEffectiveCourseList" resultType="com.chengxuxiaoba.video.model.po.Course">
        SELECT * from account
        where status=1
    </select>

    <update id="getCourse" parameterType="int">
       SELECT * from account
        where id=#{courseId}
    </update>

    <select id="getAllCourseModuleList" resultType="com.chengxuxiaoba.video.model.po.CourseModule">
        SELECT * from CourseModule where courseId=#{courseId}
    </select>

    <select id="getCourseModule" parameterType="int" resultType="com.chengxuxiaoba.video.model.po.CourseModule">
        SELECT * from CourseModule where id=#{courseModuleId} limit 1
    </select>
</mapper>