<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxuxiaoba.video.mapper.IssueMapper">
    <insert id="insertIssue" parameterType="com.chengxuxiaoba.video.model.po.Issue">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Issue(videoId, name, content, questionerId)
        VALUES(#{videoId},#{name}, #{content}, #{questionerId})
    </insert>
    <insert id="insertAnswer" parameterType="com.chengxuxiaoba.video.model.po.Answer">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Answer(issueId, content, answererId)
        VALUES(#{issueId},#{content}, #{answererId})
    </insert>

    <select id="getListWithPage" parameterType="com.chengxuxiaoba.video.model.query.IssueQuery"
            resultType="com.chengxuxiaoba.video.model.po.Issue">
        SELECT * from Issue
        <where>
            <if test="videoId != null">and videoId = #{videoId}</if>
            <if test="accountId != null">and questionerId = #{accountId}</if>
        </where>
    </select>

    <select id="getIssue" parameterType="int" resultType="com.chengxuxiaoba.video.model.po.Issue">
       SELECT * from Issue
        where id=#{id}
    </select>

    <select id="getAnswerList" parameterType="java.util.List" resultType="com.chengxuxiaoba.video.model.po.Answer">
        SELECT * from Answer
        <where>
            <if test="issueIdList !=null and issueIdList.size() != 0">
                issueId IN
                <foreach collection="issueIdList" index="index" item="issueId" open="("
                         separator="," close=")">
                    #{issueId}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateIssue">
        UPDATE Issue
        <trim prefix="set" suffixOverrides=",">
            <if test="videoId != null">videoId=#{videoId},</if>
            <if test="name != null">name=#{name},</if>
            <if test="content != null">content=#{content},</if>
            <if test="questionerId != null">questionerId=#{questionerId},</if>
            <if test="answerCount != null">answerCount=#{answerCount},</if>
            <if test="status != null">status=#{status},</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>