<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxuxiaoba.video.mapper.MaterialMapper">
    <insert id="insert" parameterType="com.chengxuxiaoba.video.model.po.Material">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO material(name, description)
        VALUES(#{name},#{description})
    </insert>

    <select id="getSingle" parameterType="int" resultType="com.chengxuxiaoba.video.model.po.Material">
        SELECT * from material
        where id = #{id}
    </select>

    <update id="update" parameterType="com.chengxuxiaoba.video.model.po.Material">
        UPDATE material
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="status != null">status=#{status},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="getMaterialList" resultType="com.chengxuxiaoba.video.model.po.Material">
        SELECT * from material
    </select>
</mapper>