<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxuxiaoba.video.mapper.UploadFileMapper">
    <insert id="insertUploadFile" parameterType="com.chengxuxiaoba.video.model.po.UploadFile">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO uploadfile(name, originName,size, purpose, path, status)
        VALUES(#{name},#{originName},#{size},#{purpose}, #{path}, #{status})
    </insert>

    <select id="getFileByName" parameterType="java.util.List" resultType="com.chengxuxiaoba.video.model.po.UploadFile">
        SELECT * from uploadfile
        <where>
            <if test="nameList !=null and nameList.size() != 0">
                name IN
                <foreach collection="nameList" index="index" item="name" open="("
                         separator="," close=")">
                    #{name}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateUploadFile" parameterType="com.chengxuxiaoba.video.model.po.UploadFile">
        UPDATE uploadfile
        <trim prefix="set" suffixOverrides=",">
            <if test="size != null">size=#{size},</if>
            <if test="originName != null">originName=#{originName},</if>
            <if test="purpose != null">purpose=#{purpose},</if>
            <if test="path != null">path=#{path},</if>
            <if test="status != null">status=#{status},</if>
            <if test="updateDateTime != null">updateDateTime=#{updateDateTime},</if>
        </trim>
        WHERE name=#{name}
    </update>
</mapper>