<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxuxiaoba.video.mapper.ValidationCodeMapper">
    <insert id="insert" parameterType="com.chengxuxiaoba.video.model.po.ValidationCode">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO validationcode(category, mobilePhoneNo, validationCode, expireTime, createTime)
        VALUES(#{category}, #{mobilePhoneNo}, #{validationCode}, #{expireTime}, #{createTime})
    </insert>

    <select id="getEffectiveCode" resultType="com.chengxuxiaoba.video.model.po.ValidationCode">
        SELECT category, mobilePhoneNo, validationCode, expireTime, createTime from validationcode
        where mobilePhoneNo=#{mobilePhoneNo} and category=#{codeCategory}
        and  unix_timestamp(expiretime) > unix_timestamp(now()) and isActive=1
        ORDER BY id DESC
        limit 1
    </select>

    <update id="invalidateCode" parameterType="string">
        update validationcode
        set isActive=0
        where mobilePhoneNo=#{mobilePhoneNo} and category=#{codeCategory} and validationCode=#{code}
    </update>
</mapper>