<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxuxiaoba.video.mapper.VideoMapper">
    <insert id="insert" parameterType="com.chengxuxiaoba.video.model.po.Video">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Video(courseModuleId, path, name, duration, description, images, viewCount, praiseCount)
        VALUES(#{courseModuleId},#{path},#{name}, #{duration}, #{description}, #{images}, #{viewCount}, #{praiseCount})
    </insert>

    <select id="getVideoByCourseModuleId" parameterType="int" resultType="com.chengxuxiaoba.video.model.po.Video">
        SELECT * from Video
        where courseModuleId=#{courseModuleId}
    </select>

    <select id="getVideoByCourseModuleIdWithPage" parameterType="int" resultType="com.chengxuxiaoba.video.model.po.Video">
        SELECT * from Video
        where courseModuleId=#{courseModuleId}
    </select>

    <select id="getVideo" parameterType="int" resultType="com.chengxuxiaoba.video.model.po.Video">
        SELECT * from Video
        where id=#{id} limit 1
    </select>

    <update id="updateVideo">
        UPDATE Video
        <trim prefix="set" suffixOverrides=",">
            <if test="courseModuleId != null">courseModuleId=#{courseModuleId},</if>
            <if test="path != null">path=#{path},</if>
            <if test="name != null">name=#{name},</if>
            <if test="duration != null">duration=#{duration},</if>
            <if test="description != null">description=#{description},</if>
            <if test="images != null">images=#{images},</if>
            <if test="viewCount != null">viewCount=#{viewCount},</if>
            <if test="praiseCount != null">praiseCount=#{praiseCount},</if>
            <if test="status != null">status=#{status},</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>